* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #282828;
    color: #fafafa;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #888;
    color: pink;
}

header > h1 {
    font-size: 3rem;
    padding: 0.5rem 0;
}

header > button {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

header p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #383838;
}

.btn {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    border: 5px;
    background: black;
    color: #fafafa;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 80px;
    background: aqua;
}

.nav {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav li {
    padding: 0.25rem 1rem;
    color: #282828;
    background-color: aliceblue;
}

.nav > li.active {
    color: #fafafa;
    background-color: #121212;
    transition: all 0.4s ease-in-out;
}

.nav li:last-child {
    margin-right: 5rem;
}

.nav li a {
text-decoration: none;
color: inherit;
background-color: inherit;
font-size: 1.4rem;
text-transform: uppercase;
}